In [1]:
%matplotlib inline
import pandas as pd

In [2]:
cast = pd.read_csv('D:/TopMentor_DS_course/File/cast/cast.csv')
cast.head(5)

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [3]:
cast['title'].nunique()

150893

### What are the earliest two films listed in the titles dataframe?

In [4]:
k = list(cast[['title','year']].sort_values('year').drop_duplicates().head(2)['title'].unique())
print("the earliest two films are: ", k)

the earliest two films are:  ['Miss Jerry', 'Valsons']

### How many movies have the title "Hamlet"?

In [22]:
%time
(cast['title']=='Hamlet').sum()

CPU times: total: 0 ns
Wall time: 0 ns

113

In [23]:
%time
j = cast.set_index('title')     # must faster
len(j.loc['Hamlet'])

CPU times: total: 0 ns
Wall time: 0 ns

113

### How many movies are titled "North by Northwest"?

In [6]:
(cast['title']=='North by Northwest').sum()

41

### When was the first movie titled "Hamlet" made?

In [25]:
cast[cast['title']=='Hamlet'].sort_values(['year'])[['year']].head(1)

        year
954648  1911

### List all of the "Treasure Island" movies from earliest to most recent.

In [28]:
cast[cast['title']=='Treasure Island'].sort_values('year')

,title,year,name,type,character,n
909157,Treasure Island,1918,Edwin Harley,actor,Prologue Player,NaN
840745,Treasure Island,1918,Joe Grant,actor,Undetermined child role,NaN
830114,Treasure Island,1918,Charles Gorman,actor,Prologue Player,NaN
339256,Treasure Island,1918,Francis Carpenter,actor,Jim Hawkins,1.0
374597,Treasure Island,1920,Lon Chaney,actor,Blind Pew,5.0
...,...,...,...,...,...,...
880460,Treasure Island,1999,Rio Hackford,actor,Hans,23.0
872384,Treasure Island,1999,Paul Gutrecht,actor,Some Guy,20.0
114904,Treasure Island,1999,Lance (II) Baker,actor,Frank,1.0
934507,Treasure Island,1999,Pat Healy,actor,Clark,4.0
589900,Treasure Island,1999,Jamie Donovan,actor,John,21.0

### How many movies were made in the year 1950?

In [29]:
cast['year'] = cast['year'].astype('Int64')

In [36]:
cast[cast['year'] == 1950]['title'].nunique()

837

### How many movies were made in the year 1960?

In [33]:
cast[cast['year'] == 1960]['title'].nunique()

952

### How many movies were made from 1950 through 1959?

In [37]:
cast[(cast['year'] >= 1950) & (cast['year'] <= 1959)]['title'].nunique()

9160

### In what years has a movie titled "Batman" been released?

In [13]:
list(cast[cast['title'] == 'Batman']['year'].unique())

[1943, 1989]

### How many roles were there in the movie "Inception"?

In [14]:
# # cast.isnull().sum()
# cast['n'].fillna(0,inplace=True)

In [15]:
cast[cast['title']=='Inception']['character'].nunique()

23

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [39]:
cast[cast['title']=='Inception']['n'].isnull().sum()

8

### But how many roles in the movie "Inception" did receive an "n" value?

In [41]:
len(cast[cast['title']=='Inception']['n'])

27

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [52]:
a = cast[cast['title']=='Inception'].sort_values('n')
a[a['n'].notnull()]

,title,year,name,type,character,n
569504,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
829338,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
907468,Inception,2010,Tom Hardy,actor,Eames,4.0
176819,Inception,2010,Tom Berenger,actor,Browning,8.0
314663,Inception,2010,Michael Caine,actor,Miles,11.0
878274,Inception,2010,Lukas Haas,actor,Nash,12.0
783405,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
321091,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
932903,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
684215,Inception,2010,Russ Fega,actor,Cab Driver,23.0
417982,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
250191,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
498708,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
711192,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
428199,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
802478,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
143138,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
779284,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
803728,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [57]:
a = list(cast[cast['title']=='Sleuth'].sort_values('n')['name'].unique())
a

['Michael Caine', 'Alec Cawthorne', 'Kenneth Branagh', 'Alec (II) Cawthorne']

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [62]:
list(cast[(cast['title']=='Sleuth') & (cast['year']==2007)].sort_values('n')['name'].unique())

['Michael Caine', 'Kenneth Branagh', 'Alec (II) Cawthorne']

In [71]:
t = cast.set_index(['title','year'])
t.loc['Sleuth'].loc[2007].sort_values('n')

                     name   type          character    n
year
2007        Michael Caine  actor             Andrew  1.0
2007      Kenneth Branagh  actor  Other Man on T.V.  NaN
2007  Alec (II) Cawthorne  actor  Inspector Doppler  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [66]:
cast[(cast['title']=='Hamlet') & (cast['year']==1921)]['character'].nunique()

3

### How many roles were credited in Branagh’s 1996 Hamlet?

In [72]:
cast[(cast['title']=='Hamlet') & (cast['year']==1996)]['character'].nunique()

22

### How many "Hamlet" roles have been listed in all film credits through history?

In [73]:
cast[(cast['title']=='Hamlet')]['character'].nunique()

52

### How many people have played an "Ophelia"?

In [76]:
cast[cast['character']=='Ophelia']['name'].nunique()

4

### How many people have played a role called "The Dude"?

In [77]:
cast[cast['character']=='The Dude']['name'].nunique()

6

### How many people have played a role called "The Stranger"?

In [78]:
cast[cast['character']=='The Stranger']['name'].nunique()

80

### How many roles has Sidney Poitier played throughout his career?

In [79]:
cast[cast['name']=='Sidney Poitier']['character'].nunique()

0

### How many roles has Judi Dench played?

In [80]:
cast[cast['name']=='Judi Dench']['character'].nunique()

0

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [91]:
cast.year//10*10

0          2010
1          1980
2          2010
3          2010
4          2010
           ...
1048570    2010
1048571    2000
1048572    1950
1048573    2000
1048574    1980
Name: year, Length: 1048575, dtype: Int64

In [94]:
cast[(cast['name']=='Cary Grant') & (cast['n']==2) & ((cast['year']// 10*10)==1940)].sort_values('year')

                   title  year        name   type    character    n
840371  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
840381    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [101]:
cast[(cast['name']=='Cary Grant') & (cast['n']==1) & ((cast['year']// 10*10)==1940)].sort_values('year')

,title,year,name,type,character,n
840397,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
840353,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
840399,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
840386,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
840401,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
840377,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
840344,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
840369,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
840370,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
840378,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
840336,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
840373,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
840372,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
840375,Notorious,1946,Cary Grant,actor,Devlin,1.0
840393,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
840394,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
840368,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
840348,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
840357,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [98]:
cast[(cast['year'] // 10*10)==1950]['character'].nunique()

43660

### How many roles were available for actresses in the 1950s?

In [99]:
cast[(cast['type']=='actress') & (cast['year'] // 10*10)==1950]['character'].nunique()

0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [107]:
cast[(cast['n']==1) & (cast['year']<=1980)].sort_values('year')['character'].nunique()

16078

### How many non-leading roles were available through from the beginning of film history through 1980?

In [111]:
cast[(cast['n']!=1) & (cast['year']<=1980)].sort_values('year')['character'].nunique()

197763

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [112]:
cast[(cast['n'].isnull()) & (cast['year']<=1980)].sort_values('year')['character'].nunique()

70064